body {
    font-family: 'Gotu', sans-serif;
    background-color: rgb(230, 230, 230);

}

header {
width: 100%;
height: 80px;
margin: 0px 0px 0px 0px;
padding: 7px;
background-color: darkgrey;
justify-content: center;
color: white;
text-align-last: center;
font-size: 50px;

}

.form-control {
    width: 200px;
}

.searchDiv {
margin-top: 10px;
justify-content: left;
background-color: white;
width: 280px;
font-size: 20px;
margin-left: 10px;
}

.searchResults {
    margin-top: 10px;
    justify-content: left;
    background-color: white;
    width: 280px;
    height: 500px;
    margin: 0; 
}

.searchResultsName {
margin: 0px;
width: 280px;
height: 40px;
font-size: 24px;
color: black;
background-color: white;
z-index: auto;
border: solid, black, 1px;


}

.cityInfo {
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    height: 275px;

}

.fiveDay {
    background-color: white;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 20px;
    height: 220px;

}
.results {
    position: relative;
    margin-top: 10px;
    justify-content: left;
    background-color: white;
    width: 800px;
    height: 600px;
    margin-left: 25px;
}

.dayForecast {

    background-color: rgb(58, 58, 255);
    height: 170px;
    width: 140px;
    float: left;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
    margin-left: 12px;

}

.cityNameBanner {
    font-size: 30px;

}

.fiveDay {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    
}

img {
    width: 50px;
    height: 50px;
}